.datos-operario {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    

}

.datos-operario .form-control {
    width: 50%;
}






.header {
    background-color: #EDEDED;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
   
    
}



.container {
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    align-items: center;
}
.modelo {
    border: 3px solid #6E205C  ;
    background-color: #EDEDED;
    padding: 0;
    margin: 0;
    
}
.form-check {
    margin: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 35px;

    
}
.row {
    padding: 0;
    margin: 0;
}
.btn-motivo {
    font-size: 0.75em;
    width: 120px;
    
}

.btn-danger {
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-success {
    padding-top: 15px;
    padding-bottom: 15px;

}

h5 {
    font-size: 3rem;
}

.submit {
    width: 7em;
    height: 5em;
    
}
